<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Omnaeus Wiki</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div id = "header-bar">
            <div class = "title-container">
                <div id = "logo"> <img src = "./images/Omnaeus.png" alt= "Omnaeus"></div>
                <header id = "site-title"> OMNAEUS </header>
            </div>
        </div>
        
        <div id = "navbar">
            <div id = "navbar-left">
                <a href = "./home" target="_blank">Home</a>
                <a href = "./creatures" target="_blank">Creatures</a>
                <a href = "./locations" target="_blank">Locations</a>
                <a href = "./encounters" target="_blank">Encounters</a>
                <a href = "./items" target="_blank">Items</a>
                <a href = "./classes" target="_blank">Classes</a>
                <a href = "http://cephanox.bandcamp.com/" target="_blank">Music</a>
            </div>
            <div id = "navbar-right">
                <input type="text" placeholder="Search..">
            </div>
        </div>

        {{{body}}}
    </body>
</html>
