<!DOCTYPE html> 
<html>
    <head>
        <title>Omnaues Wiki</title>

        <link rel="stylesheet" href="style.css">
    </head>

    <body id = 'wholePageColor'>

        <nav class = "ListNavitems">

            <div id = "LogoNavBar"> <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWaeXj98lKyT2zoBWvV5jzqrih96BbsnFunw&usqp=CAU" alt= "randome cat"></div>
            <div class = "ItemsNav"><label>Home </label></div>
            <div class = "ItemsNav"><label>Locations</label></div>
            <div class = "ItemsNav"><label>Encounters</label></div>
            <div class = "ItemsNav"><label>Items </label></div>
            <div class = "ItemsNav"><label>Characters</label></div>
            <div class = "ItemsNav"><label>Creatures</label></div>
            <div class = "ItemsNav"><label>Classes</label></div>
            <div class = "ItemsNav"><label>Music</label></div>
            <div class = "ItemsNav" ><input type="text" placeholder="Search.."></div>
    
        </nav>

          {{{body}}}             


    </body>
</html>
