<!DOCTYPE html> 
<html>
    

    <body id = 'wholePageColor'>

        <main class = "content">

                <div class = "listHeader">
                    <h1>{{Category}} List Page</h1>
                </div>

                <section class = "contentLinks">

                 {{#each listArray}}
                     {{> linkTemplate description = this.title type = this.type link = this.link}}
                 {{/each}}
          

                </section>
                
                <section class = "suggestionLinks">
                    <h1 class = "suggestionHeader">
                        Suggestions
                    <h/1>
                </section>

        </main>


    </body>
</html>
