<!DOCTYPE html> 
<html>
    

    <body id = 'wholePageColor'>

        <main class = "content">

                <div class = "listHeader">
                    <h1>{{Category}} List Page</h1>
                </div>

                <section class = "contentLinks">

            {{#if allPosts}}
                 {{#each listArray}}
                     {{> listTemplate description = this.description link = this.link}
                 {{/each}}
            {{/if}}


                </section>
                
                <section class = "suggestionLinks">
                    <h1 class = "suggestionHeader>
                        Suggestions
                    <h/1>
                </section>

        </main>


    </body>
</html>
