<div class = "border">
    <div class = "title-content">
        <h1>{{pageData.title}}</h1>
    </div>

    <div class = "horizontal-box">
        <div id = "left-column">
            {{#each pageData.content}}
                <div class = "content">
                    <h2>{{this.heading}}</h2>
                    <p>{{this.paragraphs}}</p>
                </div>
            {{/each}}

            {{#if typeCreature}}
                {{> creatures-main stats}}
            {{/if}}
        </div>
        <div id = "right-column">
            <div class = "content">
                <img class = "post-image" src = {{pageData.imageURL}}>
                {{#if typeLocation}}
                    {{> location stats}}
                {{/if}}

                {{#if typeEncounter}}
                    {{> encounters stats}}
                {{/if}}

                {{#if typeItem}}
                    {{> items stats}}
                {{/if}}

                {{#if typeCreature}}
                    {{> creatures stats}}
                {{/if}}

                {{#if typeClass}}
                    {{> class stats}}
                {{/if}}

            </div>
        </div>
    </div>
</div>