
<!DOCTYPE html> 
<html>
    

    <body id = 'wholePageColor'>

        <main class = "content">

                <div class = "suggestionHeader">
                    <h1 class = "sugggestion-page-header">Suggestion Page</h1>
                </div>

                <section class = "suggestionContent"></section>

                 {{#each suggestion}}
                     {{> suggestionTemplate suggestion = this.suggestion}}
                 {{/each}}
          

                </section>
              

        </main>

        <button type = "button" id = "add-suggestion"><i class="far fa-comment-dots"></i></button>

        <div id = "backdrop" class = "hide"></div>


        <div id = "suggestion-box" class="hide">
            <div class = "layout-suggest-box">
                <div class = "suggestion-box-header"> 
                    <h1>Add a Suggestion</h1>
                </div>


                <div class= "text-container">
                    <textarea id = "text-area-class" placeholder= "Enter Text Here..."></textarea>
                </div>

                <div class = "footer-box">
                    <button type = "button" id = "cancal-post">Cancel</button>
                    <button type="button" id = "submit-post">Submit</button>
                
                </div>

            </div>

        </div>


    </body>
</html>