body {
    color: white;
    margin: 0px;
    font-family: "Georgia";
    width: 100%;
    background-color: black;
    background-image: url("./images/background.jpg")
}

.ListNavitems {
    opacity: 75%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
    height: 75px;
}

.ItemsNav {
    z-index: 1;
}

.ItemsNav label {
    opacity: 100%;
    font-size: 30px;
    text-shadow: 0px 0px 100px #cc00cc, 0px 0px 100px #cc00cc, 0px 0px 100px #cc00cc, 0px 0px 100px #cc00cc, 0px 0px 100px #cc00cc;
}

.ItemsNav input {
    width: 100%;
    height: 40px;
}

#Logo {
    height: 90px;
}

#Logo img {
    height: 100%;
    position: relative;
    left: 50px;
}

.content {
    background-color: black;
    margin-top: 35px;
    margin-left: 27px;
    width: 1430px;
    /*my shit*/
    display: flex
    /**/

}

.titleClass-container {
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    background-color: black;
    font-size: 75px;
    text-shadow: -2px -2px 0px black, 2px -2px 0px black, -4px 0px 10px #cc00cc, 4px 0px 10px #cc00cc;
    letter-spacing: 50px;
}

#site-title {
    z-index: 1;
}


/*my shit*/
.sectionClass{
    
    width: 600px;
    margin-right: 230px;
}

.asideClass {
    
    width: 600px;

}

.section-Div-Container{
    margin-left: 40px;
    margin-top: 40px;
}

#Table-Contents{

    margin-bottom: 30px;
}

.section-elements{
    margin-bottom: 30px;

}