
body{
    color: white;
    margin: 0;
}
#wholePageColor{
    background-color: rgba(38, 33, 55);
}

.ListNavitems{
    background-color: rgb(0, 0, 0);
    display: flex;
    display: row;
    height: 100px;
}

.ItemsNav{
    margin-top: 30px;
    margin-left: 30px;
    
}

.ItemsNav label{ /* this is a class for the label element inside the nav bar*/
    font-size: 30px;
    
}


#LogoNavBar img{
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    height: 90px;
    width: 90px;
}

.ItemsNav input{
    width: 200px;
    height: 40px;

}

.content{
    background-color: rgb(0, 0, 0);
    margin-top: 35px;
    margin-left: 27px;
    width: 1430px;
}

.titleClass-container{
    background-color: aqua;
    width: 650px;
    position: relative;
    
}

.site-title{
    font-size: 40px;
}
